# Python 临时与缓存
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# 操作系统临时文件
.DS_Store
Thumbs.db
*.tmp

# 原始大体积医疗影像数据（防止把几百兆甚至数G的DICOM文件误提交到GitHub仓库）
*.dcm
*.DCM
*.zip
*.tar.gz
*.rar
raw_dicom/
ct_dicom/
input_dicom/
output_analysis/
